*{
    font-family: sans-serif;
}
.imgSize{
    width: 8vh;
    display: flex;
    justify-items: auto;
}
.posicion{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.logoSize{
    width: 25vh;
}
.card-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.charmSize{
    height: 2vh;
}
.posicion1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.backBest{
    background-color: aqua;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    height: 37Vh;
    border: 3.5px solid #416aa3;
    border-radius: 10px;
}
.card-title{
    font-size: 17px bond;
    
}
.card-text{
    font-size:15px;
}