.imgSize{
    width: 8vh;
    display: flex;
    justify-items: auto;
}
.posicion{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
img.logoSize{
    width: 20.5vh;
}
.card-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 17px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.charmSize{
    height: 2vh;
}
.posicion1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.backBest{
    background-image: url(/img/Bestiary4.png);
    background-size: 960px 380.83px;
    background-position: center;

}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    height: auto;
    border: 3.5px solid #416aa3;
    border-radius: 10px;
}
.card-title{
    font-size: 17px bond;
    
}
.card-text{
    font-size:15px;
}
div.text-botton{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

a.nav-link{
    position: relative;
}
a.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #992FBC ;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.nav-link:hover:before {
    visibility: visible;
    width: 100%;
}
.textCal{
    color: black;
    font-size: 25px;
}




/*---------------PRUEBA---------------*/

tool-tip{
    position: absolute;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    box-shadow: 0 0 10px black;
    padding: .5rem 1rem;
    font-size: .8rem;
    border-radius: 8px;

    top: 145%;
    left: 20.5%;

    opacity: 0;
    transition: opacity .3s ease;
}

:has(> tool-tip){
    position: relative;
}
:has(>tool-tip):hover tool-tip{
    opacity: 1;
}
